*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(
     180deg,
     rgba(37,34,63,1) 0%,
     rgba(31,61,98,1) 50%,
     rgba(35,40,72,1) 100%
    );

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-container{
    text-align: center;
}

.form-container h2{
    font-size: 40px;
    color:#F5FCFF;
    margin-bottom: 10px;
}

.form-container p{
    font-size: 18px;
    color: #949FBD;
    margin-bottom: 50px;
}

form {
    padding: 50px;
    background: linear-gradient(
        50deg,
        rgba(43,54,108,1) 0%,
        rgba(43,73,125,1) 50%,
        rgba(40,90,140,1) 100%
    );
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 800px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.form-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    margin-bottom: 40px;
}

.form-content{
    display: flex;
    flex-direction: column;
}

label{
    color:#F5FCFF;
    font-size: 15px;
    margin-bottom: 15px;
}

input, select, textarea{
    padding: 20px 15px;
    background-color: #283B64;
    border: 0;
    outline: none;
    border-radius: 25px;
    color: #F5FCFF;
    font-size: 16px;
}

::placeholder {
    color: #949FBD;
    font-size: 16px;
}

textarea{
    margin-bottom: 40px;
}

.btn {
    padding: 17px 25px;
    width: 180px;
    align-self: center;
    text-transform: capitalize;
    color: #F5FCFF;
    font-size: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: linear-gradient(
        90deg,
        rgba(67,151,239,1) 0%,
        rgba(2,227,211,1) 100%
    );
}

@media(max-width:991px) {

    body{
        padding: 30px;
    }

    form{
        width: 100%;
    }

    .form-group{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
        margin-bottom: 20px;
    }
    
    textarea{
        margin-bottom: 30px;
    }

}