*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #00154D;
}

.container{
    border: solid 1px rgba(255,255,255,0.2);
}

.form-container .h2{
    font-size: 40px;
    color:#2ACCCF;
    margin-bottom: 10px;
    text-align: center;
}

table{
    color: #fff;
    font-size: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead{
    background-color: #006D85;
}

th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td{
    padding: 15px;
    border-bottom: solid 1px rgba(255,255,255,0.2);
}

tbody tr{
    cursor: pointer;
}

tbody tr:hover{
    background: #006D85;
}


.btn-1 {
    display: inline-block;
    background: #006D85;
    padding: 17px 25px;
    text-decoration: none;
    color: #F5FCFF;
    border-radius: 25px;
    display:flex;
    justify-content:center;
    align-items:center;     
    
}
